@model Wardrobe.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Outfit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Top:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top.Name)
        </dd>
        
        <dt>
            Bottom:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bottom.Name)
        </dd>

        <dt>
            Shoe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shoe.Name)
        </dd>

        <dt>
            Accessories:
        </dt>

        <dd>
            @foreach (var accessory in Model.Accessory)
            {
                <div>@Html.DisplayFor(modelItem => accessory.Name)</div>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
